.about-us-page {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-us-content {
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
