


<div class="image-container">
    <div class="image-wrapper">
      <img [src]="url1" alt="Available Image 1" title="Available-Image 1" width="400px">
      <input type="file" id="img1" (change)="onSelect($event, 'url1')">
    </div>
    <div class="image-wrapper">
      <img [src]="url2" alt="Available Image 2" title="Available-Image 2" width="400px">
      <input type="file" id="img2" (change)="onSelect($event, 'url2')">
    </div>
    <div class="image-wrapper">
      <img [src]="url3" alt="Available Image 3" title="Available-Image 3" width="400px">
      <input type="file" id="img3" (change)="onSelect($event, 'url3')">
    </div>
  </div>
  


