<div class="buttons">
    <button class="fixed-button button is-black" (click)="navigateToSection('goToHome')" [class.active]="currentSection === 'goToHome'">Home</button>
    <button class="fixed-button button is-black" (click)="navigateToSection('goToRecent')" [class.active]="currentSection === 'goToRecent'">Recent</button>
    <button class="fixed-button button is-black" (click)="navigateToSection('goToAvailable')" [class.active]="currentSection === 'goToAvailable'">Available</button>
    <button class="fixed-button button is-black" (click)="navigateToSection('goToReviews')" [class.active]="currentSection === 'goToReviews'">Reviews</button>
    <button class="fixed-button button is-black" (click)="navigateToSection('goToAboutUs')" [class.active]="currentSection === 'goToAboutUs'">About Us</button>
  </div>
  