

<section id="goToHome" class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="button-container">
        <button class="custom-button">Get Consultation</button>
      </div>
    </div>
  </div>
  <img src="/assets/img/andronicLogo.png" alt="ANDRONIC" class="andronic-image">
</section>


<section id="goToRecent" class="blackBackground is-primary is-bold is-fullheight">
  <div class="blackBackground-body">
    <app-recent></app-recent>
  </div>
</section>




<section id="goToAvailable" class="blackBackground is-primary is-bold is-fullheight">
  <div class="blackBackground-body">
    <div class="container has-text-centered">
      <app-available></app-available>
    </div>
  </div>
</section>

<section id="goToReviews" class="blackBackground is-primary is-bold is-fullheight">
 <app-reviews></app-reviews>
</section>

<section id="goToAboutUs" class="blackBackground is-primary is-bold is-fullheight">
  <footer></footer>  
</section>

<!-- Rest of the content for each component -->


